@use '$styles' as s;

.button {
	cursor: pointer;
	border: none;
	transition: filter 100ms ease-in-out;
	box-shadow: s.$shadow-md;
	background-color: var(--color);
	font-size: 1rem;

	// size modifiers
	&.size--sm {
		padding: s.padding(1) s.padding(2);
		font-size: 0.9rem;
	}
	&.size--md {
		padding: s.padding(2) s.padding(4);
	}
	&.size--lg {
		padding: s.padding(3) s.padding(5);
	}

	// color modifiers
	&.color--primary {
		--color: #{s.$primary};
	}
	&.color--secondary {
		--color: #{s.$secondary};
	}

	// radius-modifiers
	&.radius--none {
		border-radius: 0;
	}
	&.radius--sm {
		border-radius: #{s.$radius-sm};
	}
	&.radius--md {
		border-radius: #{s.$radius-md};
	}
	&.radius--lg {
		border-radius: #{s.$radius-lg};
	}
	&.radius--full {
		border-radius: 9999px;
	}

	// psuedo-states
	&:hover {
		filter: brightness(0.9);
	}

	&:disabled {
		cursor: not-allowed;
		filter: brightness(0.9);
		color: #{s.$secondary};
		background-color: #{s.$secondary-dark};
	}
}
