/*
The raw package of values used in the application, this should
not be referenced anywhere else directly, access values from tokens and utils instead.

The reason why the seemingly redundant 'theme' file when we could just directly mess with
the token file is because it's easier to edit and change in the future, especially during
development.
*/
$breakpoints: (
	sm: 360px,
	md: 720px,
	lg: 1080px
);

$colors: (
	'purple': (
		50: #f5ecfd,
		100: #ead9fc,
		200: #d5b4f9,
		300: #c08ef5,
		400: #ab69f2,
		500: #9643ef,
		600: #7713e2,
		700: #590ea9,
		800: #3b0a71,
		900: #1e0538,
		950: #0f021c
	),
	'gray': (
		50: #fdfdfd,
		100: #f0f0f0,
		200: #d6d6d6,
		300: #bdbdbd,
		400: #a3a3a3,
		500: #8c8c8c,
		600: #737373,
		700: #595959,
		800: #404040,
		900: #262626,
		950: #1a1a1a
	)
);

// used in calculating how much padding is applied (in rems).
$padding-growth: 0.2;
