@use 'theme' as t;
@use 'utils/classes';

$body-font: t.$theme-normal-text;
$body-text-color: t.$theme-color-text;
$body-background-color: t.$theme-color-body;

$headings-font: t.$theme-heading-text;
$ui-elements-font: t.$theme-ui-text;

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	color: $body-text-color;
	font-family: $body-font;
	background-color: $body-background-color;
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font-size: inherit;
	font-family: $ui-elements-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headings-font;
}
