@use '$styles' as s;

.list {
	display: grid;
	grid-template-columns: 1fr;
	padding: 0;
	list-style-type: none;
	gap: s.padding(10);

	@include s.above('md') {
		grid-template-columns: 1fr 1fr;
	}

	@include s.above('lg') {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
